* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    color: brown
}

.textoDestacado {
    font-size: xx-large;
    color: blueviolet;
}

#titulo-principal {
    text-align: center;
}

.contenedor p {
    color: gray
}

.contenedor > p {
    font-weight: bold;
}

.caja + p {
    color: red;
    font-style: italic;
}

#titulo-principal, .textoDestacado, ul.lista li {
    border-bottom: 1px solid black;
    background-color: lightblue;
    padding: 5px;
}