@use "sass:map";

$colors: (
  "primary": #0d6efd,
  "success": #198754,
  "danger": #dc3545
);

%btn-shared {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
@each $name, $value in $colors {
  .btn-#{$name} {
    @extend %btn-shared;
    background-color: map.get($colors, $name);
  }
}