@for $i from 1 through 4 {
  .col-#{$i} {
    padding: 10px;
    background-color: #0d6efd;
    color: white;
    border: 1px solid white;
    width: 25% * $i;
    box-sizing: border-box;
    display: inline-block;
  }
}