.form-control {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 14px;
  display: block;
  width: 100%;
  box-sizing: border-box; 
}

.input-text {
  @extend .form-control;
}

.input-password {
  @extend .form-control;
}

.login {
  width: 300px;
  margin: 40px auto;
}