@keyframes cambiaColor{
    0% {
        background-color: blue;
        transform: translateX(0);
    }

    50% {
        background-color: green;
        transform: translateX(100px);
    }

    100% {
        background-color: red;
        transform: translateX(0);
    }
}

.animacion {
    width: 100px;
    height: 100px;
    animation: cambiaColor 4s linear 0s infinite alternate;
}