.caja1, .caja2 {
    width: 200px;
    padding: 20px;
    border: 10px solid red;
    margin-bottom: 15px;
}

.caja1 {
    box-sizing: border-box;
    /* Lo que hace es que aplica el width desde el borde, no solo contando el contenido de adentro*/
}