.caja {
    /*
    padding-left: 5px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
    margin: 10px;
    border: 3px solid plum;
    border-radius: 10px;
    */
    /* Forma reducida abajo*/
    padding: 15px;
    margin: 10px;
    border: 3px solid plum;
    border-radius: 10px;
}
