.employee-profile {
  text-align: center;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name {
  font-size: 20px;
}
.role {
  color: #7f8c8d;
}
.employee-profile:hover .name {
  font-size: 22px;
}
